[Desktop Entry]
Name=ReconWolf
Comment=Web Footprinting Tool
Encoding=UTF-8
Exec=sh -c "reconwolf;${SHELL:-bash}"
Icon=ReconWolf.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Kali-Package=ReconWolf
Name[C]=ReconWolf
